@charset "utf-8";
/*
author:zoumm
date:2015-06-17
@content:mrakact
*/
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;}
body,input,textarea,select,button,table{font-size:14px;line-height:1.25em;}
body{min-width:320px;font-size:14px;font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;color:#333;-webkit-text-size-adjust:none;-webkit-user-select:none;-webkit-tap-highlight-color:transparent;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img,button {border:0;}
li{list-style:none}
a{text-decoration:none;color:#333;outline:none}
img{vertical-align:middle}
h1,h2,h3,h4,h5,h6,input,textarea,select,button{font-size:100%}
::-webkit-input-placeholder{color:#bbb;}
input[type="text"],input[type="number"],input[type="password"]{-webkit-appearance:none;border-radius:0;}
em,i{font-style:normal}
.hide{display:none}
.red{color:#f63f3f;}
html,body{height: 100%;}
.ui-acttemp-wrap{position: relative;min-height: 100%;background-color: #fff;}
/*head*/
.ui-head {width: 100%;height: .88rem;}
.ui-head-in {position: fixed;z-index: 81;top: 0;left: 0;width: 100%;height:.88rem;background: #D93F3F;}
.ui-head-l, .ui-head-r {position: absolute;top: 0;height: 100%;}
.ui-head-l {left: 0;}
.ui-head-m {height: 100%;line-height:  .88rem;text-align: center;}
.ui-head-r {right: 0;}
.ui-head-l span, .ui-head-r span {overflow: hidden;float: left;padding: 0 0.2rem;height: 100%;line-height: 999px;background-repeat: no-repeat;background-position: center center;}
.ui-head-tit {display: inline-block;margin: 0;padding: 0;font-size: 0.36rem;font-weight: bold;color: #FFF;}
.ui-head-btn1 {width: 0.24rem;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAlCAMAAACeRoI0AAAAgVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9d3yJTAAAAKnRSTlMAAf73DAjQV045GePCrKSEMSId9OvVj3hvYBH57+fl3MrFtrJ9QyuKaAUZdCBjAAAAy0lEQVQoz22TRxbCMAwFjVIIqUBCQu917n9AFsnuy8vxs8b6loO39lsXrzYMDn51mHNgd6DNhM4+UCwFxw+45YLXKdSJ4MUJe84EzyOiuRob46zGpIJ0LTi/QhULXhbQqDFriXba+mB0CzXWsFmpsYS7Gt8F9GoMNygdHPIUHmMZ0Y6NSjBP4zRd0w9Sgz9jUwz6UFXibMQVXHPP3kyDoIMT0WauvcMGfzChdu13KPeevYfL26v1PXB07a8jtnXtF+jdb1Sam2L4ZeEP2NwRTzi8xTQAAAAASUVORK5CYII=");-webkit-background-size: 0.24rem;background-size: 0.24rem;}
.ui-head-btn2 {width: 0.34rem;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAmCAMAAACWCLnmAAAAV1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////+ORg7oAAAAHHRSTlMACvNvunjUpSreEpoi5M3BsIqBZFTHGvbrkEY3qPPPBgAAARNJREFUOMudlEkSgjAQRckMMoMD6rv/OSWEcpO0C9+GruKnkx4rCeUGrW9GVSJ1w4HvJMWlB2vMCF7yM8MavwacIOmZkjHihbeCSZYDwcvX/4wWJMPpXzXY8j3LA4LaA5vgWlKYjYi2VkMoCF4eCHXLwbOQVQvc3tFaQnB5bu8t0OS3K3PTenBqr5wG7VR+0nPQmAZoL4UA/VEwS8TWVQF35nqF/lUV8YzJmNjEaizJWEFoDc2cDCNKLI36Vq7MFeweqApCxJFwFiyyrWXNk4P2yP5YFzWdC2GJv94DMKvqJ0ZDf/2tuQfAdlkzZC31WC5SSyWchofYmIluImvvDC8MiTBqfw2sPPby8vhrBcmLTF6HH77kGWpSWZurAAAAAElFTkSuQmCC");
-webkit-background-size: 0.34rem;background-size: 0.34rem;}
/*loading*/
#ui-load-bg{ position:fixed; top:0; left:0; background:#8db863; z-index:101; width:100%; height:100%;}
#ui-load-box{ width:200px; height:180px; position:fixed; left:50%; top:50%; margin:-90px 0 0 -100px; text-align:center; z-index:102; color:#fff; font-size:20px;}
#ui-load-box .ui-load-logo{ position:relative;z-index:2;width:66px;height:66px;text-align:center;-webkit-animation:startLoadingPlay 1s cubic-bezier(0.0, 0.0, 1.0, 1.0) infinite;margin:0 auto; display:inline-block; background:url(dlt_img.png) no-repeat 0 0; background-size:contain;}
#ui-load-box .ui-load-shadow {left:50%;bottom:42px;width:60px;height:16px; margin-left:-33px;text-align:center;background: rgba(20, 20, 20, .3);-webkit-border-radius: 30px / 8px;border-radius: 30px / 8px;-webkit-animation:startLoadingShadowPlay 1s cubic-bezier(0.0, 0.0, 1.0, 1.0) infinite; position:absolute;}
#ui-load-bar{ height:2px; width:100%; position:relative; background:#d3d3d3; margin:92px 0 10px 0 ;}
#ui-load-bar span{ height:2px; width:0%; position:absolute; top:0; left:0; background:#6AA330;-webkit-transition: all 1s ease-out;}
.ui-load-hide{-webkit-animation:ui-load-hide .3s ease-out forwards;}
@-webkit-keyframes ui-load-hide{0%{opacity:1;}100%{opacity:0;}}
@-webkit-keyframes startLoadingPlay{
	0%{-webkit-transform:translate(0,0) scaleY(1);}
	40%{-webkit-transform:translate(0,45px) scaleY(1);}
	60%{-webkit-transform:translate(0,65px) scaleY(1);}
	80%{-webkit-transform:translate(0,70px) scaleY(0.8);}
	100%{-webkit-transform:translate(0,0) scaleY(1);}
}
@-webkit-keyframes startLoadingShadowPlay{
	0%{-webkit-transform:scale(0.5);}
	80%{-webkit-transform:scale(1);}
	100%{-webkit-transform:scale(0.5);}
}

/*active rule*/
.ui-acttemp-rule-head{ font-size:0.32rem; padding:.1rem 0 .1rem .25rem;}
.ui-acttemp-rule{ padding:.1rem .2rem;}
.ui-acttemp-rule-list{font-size:.24rem; line-height:.44rem; padding-left:.4rem;}
.ui-acttemp-rule-list li{list-style: decimal; padding-bottom:0.1rem;}
        